<!DOCTYPE html>
<html>

<body>
<div><a href="/main">На главную страницу</a>
</div>
<div>
{{#message}}
    {{message}}
{{/message}}
    {{#events}}
        </div>
        <ul>
            <li>
                <div>Название ивента : </div>
                <strong><h2>{{title}}</h2></strong>
            </li>

            <li>
            <li><a href="event/{{id}}">Ссылка на этот ивент</a></li>
            </li>

            <li>
                <div>Контент : </div>
                <h4>{{text}}</h4>
            </li>
            <li><li>
            {{#users}}
                {{id}}
                {{username}}
            {{/users}}
        </li></li>
        </ul>
    {{/events}}
    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
</body>
</html>
