<!DOCTYPE html>
<html>

<body>
<div><a href="/main">На главную страницу</a>
</div>
<div>
    <div>Введите имя сторудника</div>
    <form method="post" action="filterUser" >
        <input type="text" name="userName">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
<div>Введите дату в формате : dd.MM.YYYY</div>
    <form method="post" action="filterDate" >
        <input type="text" name="date">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
    <div>Введите название ивента</div>
    <form method="post" action="filterEvent" >
        <input type="text" name="eventName">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>
{{#message}}
    {{message}}
{{/message}}
    {{#events}}
        </div>
        <ul>
            <li>
                <div>Название ивента : </div>
                <strong><h2>{{title}}</h2></strong>
            </li>

            <li>
            <li><a href="event/{{id}}">Ссылка на этот ивент</a></li>
            </li>

            <li>
                <div>Контент : </div>
                <h4>{{text}}</h4>
            </li>
            <li><li>
            {{#users}}
                {{id}}
                {{username}}
            {{/users}}
        </li></li>
        </ul>
    {{/events}}
    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />


</body>
</html>
