<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="shortcut icon" href="logo.png" type="image/png">
    <!--    <link rel="stylesheet" href=".css" type="text/css"/>-->
    <style type="text/css">
        body {
            font-family: 'Fira Sans';
            /*display: inline-block;*/
            /*top: 0px;*/
            /*left: 0px;*/
            /*width: 1920px;*/
            /*height: 1080px;*/
            background-size: cover;

            /*opacity: 1;*/
        }

        .header {
            position: relative;
            padding: 8px;
            margin: 0px 0px 0px 0px;

            height: 80px;
            /*background-color: lightgrey;*/
            border-radius: 50px;
            /*!* UI Properties *!*/
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 7px 6px #00000029;
            border: 1px solid #707070;
            /*opacity: 1;*/
            filter: blur(undefined);

        }
        .conteiner {
            position: relative;
            padding: 8px;
            height: 100vh;
            /*background-color: red;*/
            margin: 5px 0px 0px 0px;
            /*text-align: center;*/
        }



        .images {
            position: absolute;
            left: 33%;
            top: 50%;
            width: 825px;
            height: 825px;
            display: inline-block;
            /*!* UI Properties *!*/
            /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
            /*border: 1px solid #707070;*/
            /*opacity: 1;*/
            border-radius: 100%;
            /*background-color: black;*/
            transform: translate(-50%, -50%);

        }
        .forRegistr {
            top: 25px;
            right: 40px;
            width: 439px;
            height: 662px;

            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #000000;
            border-radius: 55px;
            box-shadow: 0px 7px 6px #00000029;
            /*opacity: 1;*/
            position: absolute;
        }
        .logo {
            width: 100%;
            height: 100%;
            /*!* UI Properties *!*/
            /*opacity: 1;*/
            position: absolute;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            border-radius: 100%;
            transform: translate(-50%, -50%);

        }

        .userName {
            position: absolute;
            top: 32%;
            width: 99.8%;
            height: 200px;
            margin-bottom: 15px;
            text-align: center;
            /*background-image: url('https://pictures.s3.yandex.net/grid.jpg');*/
        }

        .inp {

            width: 100%;
            height: 20%;
            margin-bottom: 10px;
            margin-bottom: 25px;
            text-align: center;
        }

        input[type="text"] {
            width: 90%;
            height: 100%;
            margin-right: 2%;
            margin-left: 2%;
            /*/* UI Properties */
            /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
            /*box-shadow: 0px 3px 6px #00000029;*/
            border: 1px solid #707070;
            border-radius: 9px;
            text-align: center;
            font-size: 15px;
            /*opacity: 1;*/
        }

        input[type="password"] {
            width: 90%;
            height: 100%;
            margin-right: 2%;
            margin-left: 2%;
            /*/* UI Properties */
            /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
            /*box-shadow: 0px 3px 6px #00000029;*/
            border: 1px solid #707070;
            border-radius: 9px;
            text-align: center;
            font-size: 15px;
            /*opacity: 1;*/
        }

        .ButtonParent {
            width: 100%;
            height: 42px;
            top: 12%;
            left: 5%;
            transform: translate(-5%, -12%);
            position: absolute;
        }

        .Button {

            display: inline-block;
            width: 80%;
            height: 35px;
            margin-left: 9%;
            border: 1px solid black;
            border-radius: 20px;
            /*position: absolute;*/

        }



        .knopka {
            width: 100%;
            height: 35px;
            font-size: 15px;
            background-color: white;
            border-radius: 20px;
        }

        .welcome {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 18%;
            /*background-color: blue;*/
            font-size: 25px;
        }

        .ComeIn {
            width: 100%;
            height: 20%;
            top: 55%;
            position: absolute;

        }
        .signIn {
            width: 45%;
            height: 30%;
            border-radius: 20px;
            font-size: 15px;
            background-color: white;

            top: 25%;
            left: 27%;
            position: relative;
            transform: translate(-30, -25);
        }

        .signIn:hover {
            background-color: green;
            transition:0.2s
        }
        .knopka:hover {
            background-color: green;
            transition: 0.2s;
        }






    </style>
</head>
<body>
<div class="header">

</div>

<div class="conteiner">
    <div class="images">
        <!--<img class="logo" src="logo.png">-->
    </div>

    <div class="forRegistr">
        <div class="ButtonParent">
            <div class="Button">
                <!--                   <a class="knopka"  href="registration.html">Регистрация</a>-->
                <form action="/registration">
                    <button class="knopka">Регистрация </button>
                </form>
            </div>

            <!--                <div class="Button">-->
            <!--                    <form action="/login" method="post">-->
            <!--                    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />-->



            <!--                </div>-->
        </div>

        <div class="welcome">
            <h3>Добро пожаловать!</h3>
        </div>

        <form action="/login" method="post">
            <div class="userName">
                <!--                <label> User Name:</label>-->
                <div class="inp">
                    <input type="text" name="username" placeholder="User Name"/>
                </div>
                <!--                <label> Password: </label>-->
                <div class="inp">
                    <input type="password" name="password" placeholder="Password"/>
                </div>
            </div>

            <div class="ComeIn">
                <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
                <button class="signIn">Войти</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>