<<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="shortcut icon" href="logo.png" type="image/png">
    <style type="text/css">

        body {
            background-image: url("src/login/background.png");
            background-size: cover;
            font-family: 'Fira Sans';
        }

        .header {
            position: relative;
            padding: 8px;
            margin: 0px 0px 0px 0px;

            height: 80px;
            /*background-color: lightgrey;*/
            border-radius: 50px;
            /*!* UI Properties *!*/
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 7px 6px #00000029;
            border: 1px solid #707070;
            /*opacity: 1;*/
            filter: blur(undefined);
        }

        .For_out {
            width: 35px;
            height: 35px;
            position: absolute;
            /*background-color: black;*/
            right: 5%;
            bottom: 50%;
            transform: translate(15%,50%);
        }

        .my_out {
            width: 35px;
            height: 35px;

        }

        .main {
            /*background-color: gray;*/
            margin-top: 10px;
            margin-left: 10%;
            margin-right: 10px;
            height: 74%;
            width: 61%;
            display: inline-block;
            position: relative;

        }

        .massages {
            display: inline-block;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #000000;
            border-radius: 55px;
            box-shadow: 0px 7px 6px #00000029;
            height: 72.5%;
            margin-top: 10px;
            width: 22%;
            right: 5%;
            position: absolute;
        }

        .text {
            top: 6%;
            position: absolute;
        }

        .block1 {
            /*background-color: green;*/
            width: 49.7%;
            height: 49.7%;
            position: relative;
            background-repeat: no-repeat;
            -moz-background-size: 100%; /* Firefox 3.6+ */
            -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
            -o-background-size: 100%;
            /*border: 1px solid #000000;*/


        }

        .block2 {

            position: relative;
            /*border: 1px solid #000000;*/
            display: inline-block;
            /*background-color: green;*/
            width: 49.7%;
            height: 49.7%;
            background-size: 100%;
            background-repeat: no-repeat;
            -moz-background-size: 100%; /* Firefox 3.6+ */
            -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
            -o-background-size: 100%;


        }

        #block_1 {
            background-image: url("src/main/main_1.png");
            float: left;
            position: relative;
            /*width: 100%;*/
        }

        #block_2 {
            float: left;
            background-image: url("src/main/main_2.png");
            position: relative;
        }

        #block_3 {
            background-image: url("src/main/main_3.png");
            float: left;
            position: relative;

        }

        #block_4 {
            background-image: url("src/main/main_4.png");
            background-color: green;
            position: relative;

        }
        .block_center {
            /*background-color: red;*/
            position: absolute;
            display: block;
            top: 40%;
            left: 50%;
            width: 100px;
            height: 100px;
            transform: translate(-50%, -40%);
            opacity: 1;
        }

        .four {
            width: 100px;
            height: 100px;
        }

        .text_field {
            position: absolute;
            /*background-color: blue;*/
            width: 80%;
            height: 8%;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -60%);
            text-align: center;

        }
        .named {
            color: white;
        }


    </style>
</head>
<body>
<div class="header">
    <div class="For_out">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
            <input class="my_out" type="image" src="src/outButton.png"/>
        </form>
    </div>
</div>
<div class="main">

    <div class="block1" id="block_1">
        <div class="block_center">
            <form action="/profile">
                <div><h2>Профиль</h2></div>
                <input class="four one" type="image" src="src/main/WebStorm.png">
            </form>
        </div>
        <div class="text_field">
            <h1 class="named">Личный кабинет</h1>
        </div>

    </div>

    <div class="block1" id="block_2">
        <div class="block_center">
            <form action="/events">
                <div><h2>События</h2></div>
                <input class="four two" type="image" src="src/main/calendar.png">
            </form>
        </div>
        <div class="text_field">
            <h1 class="named">События</h1>
        </div>

    </div>

    <div class="block2" id="block_3">
        <div class="block_center">
            <form action="/topics">
                <div><h2>Топики</h2></div>
                <input class="four three" type="image" src="src/main/chat-bubble-2.png">
            </form>
        </div>
        <div class="text_field">
            <h1 class="named">Топики</h1>
        </div>
    </div>

    <div class="block2" id="block_4">
        <div class="block_center">
            <form action="/profiles">
                <div><h2>Люди</h2></div>
                <input class="four cheture" type="image" src="src/main/supportEmpl.png">
            </form>
        </div>
        <div class="text_field">
            <h1 class="named">Коллеги</h1>
        </div>
    </div>


    <!--    <form method="post">-->
    <!--        <input type="text" name="text" placeholder = "Введите слово" />-->
    <!--        <input type ="text" name="tag" placeholder = "Тэг" />-->
    <!--        <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />-->
    <!--        <button type = "submit"> Добавить </button>-->
    <!--    </form>-->
    <!--    <div>Список сообщений</div>-->
</div>


<div class="massages">
    <div class="text">
        {{#messages}}
            <b>{{id}}</b><br>
            <span>{{text}}</span><br>
            <i>{{tag}} </i><br>
            <strong>{{aurhorName}}</strong><br>
        {{/messages}}<br>
        <a href="/settings">Настройки</a><br>
        <a href="/createTopic">Создание новой части форума</a><br>
        <a href="/createEvent">Создать ивент</a><br>
    </div>
</div>

<!--<form method="post" action="filter" >-->
<!--    <input type="text" name="filter">-->
<!--    <button type="submit">Найти</button>-->
<!--    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />-->
<!--</form>-->

</body>
</html>
