<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
<a href="/settings">Настройки</a>
<a href="/profile">Профиль</a>
<a href="/createTopic">Создание новой части форума</a>
<a href="/topics">Все топики</a>
<a href="/events">Все ивенты</a>
<a href="/createEvent">Создать ивент</a>
</html>
