<!DOCTYPE html>
<html>
<body>
    <div>Данные о юзере</div>
    <div> Привет! Меня зовут : </div>
    <strong>{{name}}</strong>
    <div> Мой айдишник : </div>
    <strong>{{id}}</strong>
    </div>
</body>
</html>
