<!DOCTYPE html>
<html>
<body>
<a href="/main">На главную</a>
<div>Введите имя сотрудника</div>
<form method="post" action="filterUserName" >
    <input type="text" name="name">
    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
    <button type="submit">Найти</button>
</form>
{{#message}}
    {{message}}
{{/message}}
{{#users}}
    <div>Данные о юзере</div>
    <div> Привет! Меня зовут : </div>
    <strong>{{username}}</strong>
    <div>
    <a href="profiles/{{id}}">Ссылка на этого юзера</a>
    </div>
{{/users}}
</body>
</html>
