<!DOCTYPE html>
<html>
<body>
{{#message}}
    {{message}}
{{/message}}
    <div>Данные о юзере</div>
    <div> Привет! Меня зовут : </div>
    <strong>{{name}}</strong>
    <div>
    <p>Картинка профиля</p>
    <img src="data:image/jpg;base64, {{imgPath}}" alt="Profile pic" />
    </div>
    <div> Мой айдишник : </div>
    <strong>{{id}}</strong>
    <div> Мой город : </div>
    <strong>{{city}}</strong>
    <div> Мой др : </div>
    <strong>{{dateBirthday}}</strong>
    <div> Мои достижения : </div>
    <strong>{{achievements}}</strong>
    <div> Моя карьера : </div>
    <strong>{{career}}</strong>
    <div> Мои хобби : </div>
    <strong>{{hobbies}}</strong>
    <div> Мой профайл : </div>
    <strong>{{profile}}</strong>
    </div>
</body>
</html>
