<!DOCTYPE html>
<html>
<body>
<a href="/main">На главную</a>
    <div>Все топики</div>
<div>Введите имя сторудника</div>
<form method="post" action="filterUserTopic" >
    <input type="text" name="userName">
    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
    <button type="submit">Найти</button>
</form>
<div>Введите категорию</div>
<form method="post" action="filterCategory" >
    <input type="text" name="category">
    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
    <button type="submit">Найти</button>
</form>
<div>Введите название топика</div>
<form method="post" action="filterTitle" >
    <input type="text" name="title">
    <input type="hidden" name="_csrf" value = "{{_csrf.token}}" />
    <button type="submit">Найти</button>
</form>
{{#message}}
    {{message}}
{{/message}}
    {{#topics}}
        <ul>
            <li>
                <div>Топик c титульником : </div>
                <strong><h2>{{title}}</h2></strong>
            </li>
            <li><h4>{{content}}</h4></li>
            <li><h4>{{category}}</h4></li>
            <li><a href="topic/{{id}}">Ссылка на этот топик</a></li>
        </ul>
    {{/topics}}
</body>
</html>
